{% extends 'base.html.twig' %}

{% block title %}Tus reservas{% endblock %}

{% block body %}

    <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="{{ asset('img/hero/roomspage_hero.jpg') }}" >
        <div class="hero-caption">
                <span>Tus reservas</span>
                <br> <h2>Gracias por confiar en nosotros</h2>
        </div>
    </div>

    <br>
        <div class="container">
    
            <div class="row ">
            {% for reserva in reserva %}
                        <div class="col-xs-12 col-md-6 col-lg-3">
                            <div class="card">
                                <img class="card-img-top" src="{{ asset('img/customer/customar1.png') }}" alt="Card image cap">
                                <div class="card-block">
                                    <h4 class="card-title">{{ app.user.username }}</h4>
                                    <p class="card-text">Gracias por hacer una reservaa en nuestro hotel.</p>

                                        <ul class="list-group">

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Código de reserva
                                                    <span class="badge badge-primary badge-pill">{{ reserva.codreserva }}</span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Fecha de entrada
                                                    <span class="badge badge-primary badge-pill">{{ reserva.fechaEntrada|date('Y-m-d') }}</span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Fecha de salida
                                                    <span class="badge badge-primary badge-pill">{{ reserva.fechaSalida|date('Y-m-d') }}</span>
                                                </li>
                                        </ul>
                            </div>
                                <div class="card-footer">
                                    <small class="text-muted">
                                            <form method="post" action="{{ path('borrarReserva', {'codreserva': reserva.codreserva}) }}" onsubmit="return confirm('¿Seguro que deseas cancelar esta reserva?');">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reserva.codreserva) }}">
                                                <button class="btn">Cancelar</button>
                                            </form>
                                    </small>
                                </div>
                               
                        </div>
                    <br>

            </div>
            {% endfor %}

        </div>



        <div class="midiv">
                <form action={{ path('evaluar') }} method='POST'>
                    <h3> Describe tu experiencia </h3>
                    <textarea class="form-control" id="mitextarea" name="review" rows="3"></textarea>

                        <h4>¿Cómo calificarias la experiencia en nuestro hotel?</h4>

                        <div class="radio">
                        <label><input type="radio"  name="grp1" value="1" />Mala</label>
                        </div>
                        <div class="radio">
                        <label><input type="radio"  name="grp1" value="2"/>Aceptable</label>
                        </div>
                        <div class="radio">
                        <label><input type="radio" name="grp1" value="3"/>Buena</label>
                        </div>
                        <div class="radio">
                        <label><input type="radio" name="grp1" value="4"/>Notable</label>
                        </div>
                        <div class="radio">
                        <label><input type="radio" name="grp1" value="5" checked/>Sobresaliente</label>
                        </div>
                    <p><button type="submit" class="btn btn-primary">Enviar</button></p>
                </form>
        <div>

<style type="css">

a {
 -webkit-transition: .25s all;
 transition: .25s all;
}
.card {
  padding-left:auto;
  padding-right:auto;
  min-height:500px;
  margin-top:15px;
 box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
 -webkit-transition: .25s box-shadow;
 transition: .25s box-shadow;
}
.card:focus, .card:hover {
 box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.card-inverse .card-img-overlay {
 background-color: rgba(51, 51, 51, 0.85);
 border-color: rgba(51, 51, 51, 0.85);
}
.card-img-top{
  margin-top:10px;
}
.col-xs-12{
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}
.row{
  margin-left:auto;
  margin-right:auto;
}
</style>

{% endblock %}