{% extends 'base.html.twig' %}

{% block title %}Noticias{% endblock %}

{% block body %}
<div class="container">
  <h2>Mantenimiento noticias</h2>
  <p>Bienvenido al mantenimiento de las noticias de actualidad</p>            
  <table class="table table-dark table-hover">

        <thead>
            <tr>
                <th>ID</th>
                <th>Descripción</th>
                <th>Foto</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for noticium in noticias %}
            <tr>
                <td>{{ noticium.codnoticia }}</td>
                <td>{{ noticium.descripcion }}</td>
                <td>{{ noticium.imagen }}</td>
                <td>
                    <a href="{{ path('noticia_show', {'codnoticia': noticium.codnoticia}) }}">Mostrar</a>
                    <a href="{{ path('noticia_edit', {'codnoticia': noticium.codnoticia}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No hay noticias</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('noticia_new') }}">Crear una nueva noticia</a>
{% endblock %}
