{% extends "base.html.twig" %}

{% block body %}
	<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
		<div class="container">
			<div class="inner-sec-shop px-lg-4 px-3">
				<h3 class="tittle-w3layouts my-lg-4 mt-3">Checkout </h3>
				<div class="checkout-right">
					<h4>Tu carrito contiene:
					</h4>
    {% if productos is empty %}
      <p> El carrito está vacío </p>
    {% else %}
    			<table class="timetable_sub">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Imagen</th>
								<th>Cantidad</th>


								<th>Precio</th>
								<th>Eliminar</th>
							</tr>
						</thead>

        {% for  prod in productos %}
		<form action={{ path('eliminar') }} method="post">
						<tbody>
							<tr class="rem1">
								<td class="invert">{{ prod.nombre }}</td>
								<td class="invert-image">
									<a href="single.html">
										<img src="{{ asset('imagenes/' ~ prod.imagen) }}"  alt="" style="width: 40vh; height: 30vh;" class="img-fluid" alt="">
									</a>
								</td>
								<td class="invert">
									<div class="quantity">
										<div class="quantity-select">
                         {{prod.unidades}}
										</div>
									</div>
								</td>
								<td class="invert">{{ prod.total }} € </td>

								<td class="invert"> <input type = 'submit' value='eliminar'>
								<input type="hidden" name="idproducto" value="{{ prod.idproducto }}">
								<input type="hidden" name="unidades" value="1">



							</tr>
              </tbody>
			  </form>
        {% endfor %}

      </table>
      	<div class="checkout-left row">
					<div class="col-md-4 checkout-left-basket">
						<h4>Lista de la compra</h4>
						        {% for  prod in productos %}
						<ul>
							<li>{{ prod.nombre }} -->
								{{ prod.total }} €
							</li>
							    {% endfor %}
							<p>Precio total --> {{ Preciototal }} €</p>
						</ul>
					</div>
					<form action={{ path('realizarPedido') }} method="post">
						<label for="correonombre">Email:</label> <br>
						<input style="height:30%" type="text" id="email" name="email">
						<input type="hidden" name="Preciototal" value="{{ Preciototal }}">
						<input type="submit" name="submit" />
					</form>


    {% endif %}  
    	<!--checkout-->

{% endblock %}