{% extends 'base.html.twig' %}

{% block title %}Clientes{% endblock %}

{% block body %}
<div class="container">
  <h2>Mantenimiento clientes</h2>
  <p>Bienvenido al mantenimiento de los clientes del hotel</p>            
  <table class="table table-dark table-hover">

        <thead>
            <tr>
                <th>ID</th>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Teléfono</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.codcliente }}</td>
                <td>{{ cliente.dni }}</td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.apellidos }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>
                    <a href="{{ path('cliente_show', {'codcliente': cliente.codcliente}) }}">Mostrar</a>
                    <a href="{{ path('cliente_edit', {'codcliente': cliente.codcliente}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No encontrados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
