{% extends 'base.html.twig' %}

{% block title %}Planta index{% endblock %}

{% block body %}

<div class="container">
  <h2>Mantenimiento plantas</h2>
  <p>Bienvenido al mantenimiento de las plantas</p>            
  <table class="table table-dark table-hover">
<thead>
            <tr>
                <th>Id Planta</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Localizacion</th>
                <th>Imagen</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for plantum in plantas %}
            <tr>
                <td>{{ plantum.idplanta }}</td>
                <td>{{ plantum.nombre }}</td>
                <td>{{ plantum.descripcion }}</td>
                <td>{{ plantum.localizacion }}</td>
                <td>{{ plantum.imagen }}</td>
                <td>
                    <a href="{{ path('planta_show', {'idplanta': plantum.idplanta}) }}">Mostrar</a>
                    <a href="{{ path('planta_edit', {'idplanta': plantum.idplanta}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No encontradas</td>
            </tr>
        {% endfor %}
        </tbody>
  </table>
</div>

    <a href="{{ path('planta_new') }}">Crear nueva planta</a>
{% endblock %}
