{% extends 'base.html.twig' %}

{% block title %}Índice Parteútil{% endblock %}

{% block body %}
<div class="container">
  <h2>Mantenimiento de partes útiles</h2>
  <p>Bienvenido al mantenimiento de las partes útiles de una planta</p>            
  <table class="table table-dark table-hover">
<thead>
            <tr>
                <th>Id Parte-Útil</th>
                <th>Nombre</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for parteutil in parteutils %}
            <tr>
                <td>{{ parteutil.idparteutil }}</td>
                <td>{{ parteutil.parte }}</td>
                <td>
                    <a href="{{ path('parteutil_show', {'idparteutil': parteutil.idparteutil}) }}">Mostrar</a>
                    <a href="{{ path('parteutil_edit', {'idparteutil': parteutil.idparteutil}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Ejemplares no encontrados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('parteutil_new') }}">Crear una parte útil</a>
{% endblock %}
