{% extends 'base.html.twig' %}

{% block title %}Hotel{% endblock %}

{% block body %}


<script>
  $(document).ready(function(){

    $('#botonFiltro').click(function (){

        var planta= $("#planta").val();
        var precio= $("#precio").val();
        var complemento= [];
        $.each($("input[name='nombre']:checked"), function(){
                complemento.push($(this).val());
            });                 

        $.ajax({
        url:'{{ (path('habitacionFiltro')) }}',
        method: "POST",
        data: {
        planta: planta, precio: precio, complemento: complemento
        },
        success: function (data) {

            console.log(data)
            $('#plantaDiv').html(data);
        }
    });



    });
    

  });
</script>


<main>

        <!-- slider Area Start-->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="slider-active dot-style">
                <div class="single-slider  hero-overly slider-height d-flex align-items-center" data-background="{{ asset('img/hero/h1_hero.jpg') }}" >
                                                                                                             

                    <div class="container">
                        <div class="row justify-content-center text-center">
                            <div class="col-xl-9">
                                <div class="h1-slider-caption">
                                    <h1 data-animation="fadeInUp" data-delay=".4s">Proyecto-Hotel</h1>
                                    <h3 data-animation="fadeInDown" data-delay=".4s">Alquila nuestras habitaciones</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slider  hero-overly slider-height d-flex align-items-center" data-background="{{ asset('img/hero/h1_hero.jpg') }}" >
                    <div class="container">
                        <div class="row justify-content-center text-center">
                            <div class="col-xl-9">
                                <div class="h1-slider-caption">
                                    <h1 data-animation="fadeInUp" data-delay=".4s">Proyecto-Hotel</h1>
                                    <h3 data-animation="fadeInDown" data-delay=".4s">Mejores precios</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slider  hero-overly slider-height d-flex align-items-center" data-background="{{ asset('img/hero/h1_hero.jpg') }}" >
                    <div class="container">
                        <div class="row justify-content-center text-center">
                            <div class="col-xl-9">
                                <div class="h1-slider-caption">
                                    <h1 data-animation="fadeInUp" data-delay=".4s">Proyecto-Hotel</h1>
                                    <h3 data-animation="fadeInDown" data-delay=".4s">Disponibilidad todo el año</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->

        <!-- Booking Room Start-->
        <div class="booking-area">
            <div class="container">
               <div class="row ">
               <div class="col-12">
                <form method="get">
                <div class="booking-wrap d-flex justify-content-between align-items-center">
                 
                    <!-- select in date -->
                    <div class="single-select-box mb-30">
                        <!-- select out date -->
                        <div class="boking-tittle">
                            <span> Fecha de entrada:</span>
                        </div>
                        <div class="boking-datepicker">
                            <input id="datepicker1" name="fechaEntrada"  placeholder="10/12/2020" />
                        </div>
                   </div>
                    <!-- Single Select Box -->
                    <div class="single-select-box mb-30">
                        <!-- select out date -->
                        <div class="boking-tittle">
                            <span>Fecha de salida:</span>
                        </div>
                        <div class="boking-datepicker">
                            <input id="datepicker2" name="fechaSalida"  placeholder="12/12/2020" />
                        </div>
                   </div>
                    <!-- Single Select Box -->
                    <button type="submit" class="btn btn-outline-success">Buscar</button>
               

                </div>
            </form>
               </div>
               </div>
            </div>
        </div>
        <!-- Booking Room End-->

        <!-- Make customer Start-->
        <section class="make-customer-area customar-padding fix">
            <div class="container-fluid p-0">
                <div class="row">
                   <div class="col-xl-5 col-lg-6">
                        <div class="customer-img mb-120">
                        
                            <img src="{{ asset('img/customer/customar1.png') }}" class="customar-img1" alt="">
                            <img src="{{ asset('img/customer/customar2.png') }}" class="customar-img2" alt="">
                            <div class="service-experience heartbeat">
                                <h3>25 Años de <br>Experiencia</h3>
                            </div>
                        </div>
                   </div>
                    <div class=" col-xl-4 col-lg-4">
                        <div class="customer-caption">
                            <span>Sobre HotelProyecto</span>
                            <h2>Alquila y gestiona habitaciones para tus vacaciones</h2>
                            <div class="caption-details">
                                <p class="pera-dtails">Confirmación inmediata y cancelación gratuita. </p>

                                <a href="#" class="btn more-btn1">Leer más <i class="ti-angle-right"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Make customer End-->

        <!-- Room Start -->
        <section class="room-area" id="identificador">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8">
                        <!--font-back-tittle  -->
                        <div class="font-back-tittle mb-45">
                            <div class="archivment-front">
                                <h3>Habitaciones</h3>
                                <br><br>
                            </div>
                            <h3 class="archivment-back">Nuestras habitaciones</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                <!-- aqui estaba antes el for habitaciones in listado -->
                	
                   <!-- test --> 
                        <div class="booking-area">
                            <div class="container">
                                <div class="row ">
                                    <div class="col-12">
                                        <form method="get">
                                            <div class="booking-wrap d-flex justify-content-between align-items-center">
                                            <!-- Single Select Box -->
                                                    <div class="single-select-box mb-30">
                                                        <div class="boking-tittle">
                                                            <span>Planta:</span>
                                                        </div>
                                                        <div class="select-this">
                                                            <form action="#">
                                                                <div class="select-itms">
                                                                    <select name="planta" id="planta">
                                                                        <option value="1">1ª</option>
                                                                        <option value="2">2ª</option>
                                                                        <option value="3">3ª</option>
                                                                        <option value="4">4ª</option>
                                                                    </select>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>


                                            <!-- Single Select Box -->
                                                    <div class="single-select-box mb-30">
                                                        <div class="boking-tittle">
                                                            <span>Precio Max (Noche):</span>
                                                        </div>
                                                        <div class="select-this">
                                                            <form action="#">
                                                                <div class="select-itms">
                                                                    <select name="precio" id="precio">
                                                                        <option value="50">50€</option>
                                                                        <option value="100">100€</option>
                                                                        <option value="200">200€</option>
                                                                        <option value="250">+ 250€</option>
                                                                    </select>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>



                                                    <div class="single-select-box mb-30">
                                                        <div class="boking-tittle">
                                                            <span>Complementos:</span>
                                                        </div>
                                                    {% for nombre in complementos %}
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" id="nombre" name="nombre" value= "{{ nombre.nombre }}">
                                                                <label style="color: #dca73a;" for="complemento">  {{ nombre.nombre }} </label>
                                                            </div>
                                                            

                                                    {% endfor %}
                                                    </div>
                                                    
                                                                                    

                                                <!-- Single Select Box -->
                                                <button type="button" id="botonFiltro" class="btn btn-outline-success">Filtrar</button>
                                    

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
        <!-- Booking Room End-->
        <!-- test --> 
                <div id="plantaDiv" class="container">
                    {% for habitaciones in listado %}
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <!-- Single Room -->
                        <div class="single-room mb-50">
                            <div class="room-img">
                               <a href="{{ path('habitacion_detalle',{codhabitacion: habitaciones.codhabitacion}) }}"><img src="{{ asset('imagenes/' ~ habitaciones.imagen) }}" alt=""></a>
                            </div>
                            <div class="room-caption">
                                <h3><a href="{{ path('habitacion_detalle',{codhabitacion: habitaciones.codhabitacion}) }}">{{ habitaciones.tipoIdtipo }}</a></h3>
                                <div class="per-night">
                                    <span>{{ habitaciones.precio }} € <span>/ por noche</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                
                </div>
                <div class="row justify-content-center">
                            <div class="navigation">
                                {{ knp_pagination_render(listado) }}
                            </div>
                </div>
            </div>

        </section>




        <!-- Gallery img Start-->
        <div class="gallery-area fix">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-md-12">
                        <div class="gallery-active owl-carousel">
                            <div class="gallery-img">
                                <a href="#"><img src="{{ asset('img/gallery/gallery1.jpg') }}" alt=""></a>
                                
                            </div>
                            <div class="gallery-img">
                                <a href="#"><img src="{{ asset('img/gallery/gallery2.jpg') }}" alt=""></a>
                            </div>
                            <div class="gallery-img">
                                <a href="#"><img src="{{ asset('img/gallery/gallery3.jpg') }}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Gallery img End-->
    </main>




{% endblock %}





