{% extends 'base.html.twig' %}

{% block title %}Plantas Medicinales{% endblock %}

{% block body %}

					<h1>Filtrado por uso médico </h1>
						<div class="styled-select">

							<select>
							{% for uso in usomedicos %}
								<option>{{ uso.uso }}</option>
							
							<span class="fa fa-sort-desc"></span>
							{% endfor %}
							</select>
						</div>
	<!--//banner-sec-->
	<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
		<div class="container-fluid">
			<div class="inner-sec-shop px-lg-4 px-3">
				<h3 class="tittle-w3layouts my-lg-4 my-4">Productos disponibles </h3>
				<div class="row">
				{% for prod in listado %}
				
					<!-- /womens -->
					<div class="col-md-3 product-men women_two">
						<div class="product-googles-info googles">
							<div class="men-pro-item">
								<div class="men-thumb-item">
									<img src="{{ asset('imagenes/' ~ prod.imagen) }}"  alt="" style="width: 40vh; height: 30vh;" class="img-fluid" alt="">
									<div class="men-cart-pro">
										<div class="inner-men-cart-pro">
											<a href="single.html" class="link-product-add-cart">Detalles</a>
										</div>
									</div>
									<span class="product-new-top">Nuevo</span>
								</div>
								<div class="item-info-product">

									<div class="info-product-price">
										<div class="grid_meta">
											<div class="product_price">
												<h4>
													<a href="single.html">{{ prod.nombre }}</a>
												</h4>
												<p>{{ prod.descripcion }}</p>
												<div class="grid-price mt-2">
													<span class="money ">{{ prod.precio }} €</span>
												</div>
											</div>
											<ul class="stars">
												<li>
													<a href="#">
														<i class="fa fa-star" aria-hidden="true"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-star" aria-hidden="true"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-star" aria-hidden="true"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-star" aria-hidden="true"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-star-half-o" aria-hidden="true"></i>
													</a>
												</li>
											</ul>
										

										</div>
										<div class="googles single-item hvr-outline-out">
											<form action= {{ path('anadir') }} method='POST'>
												<input type="hidden" name="cmd" value="_cart">
												<input type="number" name="unidades" value="1" min="1" style="width: 250px;">
												<input type="hidden" name="idproducto" value="{{ prod.idproducto }}">
												<input type="hidden" name="nombre" value="{{ prod.nombre }}">
												<input type="hidden" name="amount" value="{{ prod.precio }}">
												<button type="submit" class="googles-cart pgoogles-cart">
													<i class="fas fa-cart-plus"></i>
												</button>
												
											</form>

										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>


<div class="count">
    {{ listado.getTotalItemCount }}
</div>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(listado) }}
</div>
{% endblock %}


