{% extends 'base.html.twig' %}

{% block title %}Actualidad{% endblock %}

{% block body %}

       <div class="slider-area">                                                                       
        <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="{{ asset('img/hero/contact_hero.jpg') }}" >
            <div class="container">
                <div class="row ">
                    <div class="col-md-11 offset-xl-1 offset-lg-1 offset-md-1">
                        <div class="hero-caption">
                            <span>Noticias</span>
                            <h2>Actualidad</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->
    
    <!--================Blog Area =================-->
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
            
                <div class="col-lg-8 mb-5 mb-lg-0">
                {% for noticias in listado %}
                    <div class="blog_left_sidebar">
                        <article class="blog_item">
                            <div class="blog_item_img">             
                                <img class="card-img rounded-0" src="{{ asset('imagenes/' ~ noticias.imagen) }}" alt="">
                                <a href="#" class="blog_item_date">
                                    <h3>{{ noticias.fecha|date("d") }}</h3>
                                    <p>{{ noticias.fecha|date("F") }}</p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="#">
                                    <h2>{{ noticias.titular }}</h2>
                                </a>
                                <p>{{ noticias.descripcion }}</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> {{ noticias.categoriaIdcategoria }}</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> Comentarios</a></li>
                                    <li><a href="#"><i class="fa fa-calendar-alt"></i> {{ noticias.fecha|date('Y-m-d') }}</a></li>
                                </ul>
                            </div>
                        </article>
                    
                    </div>
                    {% endfor %}
                </div>

                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form action="#">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" name="buscar" class="form-control" placeholder='Buscador palabra clave'
                                            onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Buscar'">
                                        <div class="input-group-append">
                                            <button class="btn" type="button"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Buscar</button>
                            </form>
                        </aside>

                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Categoría</h4>
                            <ul class="list cat-list">
                            {% for categorias in categorias %}
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>{{ categorias.nombre }}</p>
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        </aside>

                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Últimas publicaciones</h3>
                            {% for ultimasNoticias in ultimasNoticias %}
                            <div class="media post_item">
                                <img src="{{ asset('imagenes/' ~ ultimasNoticias.imagen) }}" height="92" width="92" alt="post">
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>{{ ultimasNoticias.titular }}</h3>
                                    </a>
                                    <p>{{ ultimasNoticias.fecha|date('Y-m-d') }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </aside>
                        <aside class="single_sidebar_widget tag_cloud_widget">
                            <h4 class="widget_title">Tag Clouds</h4>
                            <ul class="list">
                                <li>
                                    <a href="#">project</a>
                                </li>
                                <li>
                                    <a href="#">love</a>
                                </li>
                                <li>
                                    <a href="#">technology</a>
                                </li>
                                <li>
                                    <a href="#">travel</a>
                                </li>
                                <li>
                                    <a href="#">restaurant</a>
                                </li>
                                <li>
                                    <a href="#">life style</a>
                                </li>
                                <li>
                                    <a href="#">design</a>
                                </li>
                                <li>
                                    <a href="#">illustration</a>
                                </li>
                            </ul>
                        </aside>


                        <aside class="single_sidebar_widget instagram_feeds">
                            <h4 class="widget_title">Visto en Instagram</h4>
                            <ul class="instagram_row flex-wrap">
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="{{ asset('img/post/post_5.png') }}" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="{{ asset('img/post/post_6.png') }}" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="{{ asset('img/post/post_7.png') }}"alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="{{ asset('img/post/post_8.png') }}" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="{{ asset('img/post/post_9.png') }}" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="{{ asset('img/post/post_10.png') }}" alt="">
                                    </a>
                                </li>
                            </ul>
                        </aside>


                        <aside class="single_sidebar_widget newsletter_widget">
                            <h4 class="widget_title">Mantente informado</h4>

                            <form action="#">
                                <div class="form-group">
                                    <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Enter email'" placeholder='Introduce tu email' required>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Subcribirse</button>
                            </form>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>

                        <div class="row justify-content-center">
                                <div class="navigation">
                                    {{ knp_pagination_render(listado) }}
                                </div>
                    </div>

{% endblock %}
