<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Bienvenido!
			{% endblock %}
		</title>
<!-- CSS here -->
		<link rel="shortcut icon" type="image/x-icon" href="{{ asset("img/favicon.ico") }}">




		
            <link rel="stylesheet" href="{{ asset("css/bootstrap.min.css") }}" rel='stylesheet' type='text/css' />
			<link rel="stylesheet" href="{{ asset("css/owl.carousel.min.css") }}" type="text/css">
			<link rel="stylesheet" href="{{ asset("css/gijgo.css") }}" type="text/css">
			<link rel="stylesheet" href="{{ asset("css/slicknav.css") }}" type="text/css">
			<link rel="stylesheet" href="{{ asset("css/animate.min.css") }}" type="text/css">
			<link rel="stylesheet" href="{{ asset("css/magnific-popup.css") }}" type="text/css">
			<link rel="stylesheet" href="{{ asset("css/magnific-popup.css") }}" type="text/css">
			<link rel="stylesheet" href="{{ asset("css/fontawesome-all.min.css") }}" type="text/css">
			<link rel="stylesheet" href="{{ asset("css/themify-icons.css") }}" type="text/css">
			<link rel="stylesheet" href="{{ asset("css/slick.css") }}" type="text/css">
			<link rel="stylesheet" href="{{ asset("css/nice-select.css") }}" type="text/css">
			<link rel="stylesheet" href="{{ asset("css/style.css") }}" type="text/css">
			<link rel="stylesheet" href="{{ asset("css/responsive.css") }}" type="text/css">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
			
		{% block stylesheets %}{% endblock %}
	</head>
	<body>


		<!-- CABECERA -->
		
		<!-- MENU -->

		{% embed "shared/menu.html.twig" %}{% endembed %}
		<!-- CUERPO -->

		<div id="cuerpo">

            <div id="principal">
                {% block body %}{% endblock %}
            </div>
		</div>
		<!-- PIE -->
		
		{% embed "shared/pie.html.twig" %}{% endembed %}

		{% block javascripts %}
		
		<!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="{{ asset("js/vendor/modernizr-3.5.0.min.js") }}"></script>
		

		<!-- Jquery, Popper, Bootstrap -->
		<script src="{{ asset("js/vendor/jquery-1.12.4.min.js") }}"></script>
		<script src="{{ asset("js/popper.min.js") }}"></script>
		<script src="{{ asset("js/bootstrap.min.js") }}"></script>

	    <!-- Jquery Mobile Menu -->
		<script src="{{ asset("js/jquery.slicknav.min.js") }}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
		<script src="{{ asset("js/owl.carousel.min.js") }}"></script>
		<script src="{{ asset("js/slick.min.js") }}"></script>

        <!-- Date Picker -->
		<script src="{{ asset("js/gijgo.min.js") }}"></script>

		<!-- One Page, Animated-HeadLin -->
		<script src="{{ asset("js/wow.min.js") }}"></script>
		<script src="{{ asset("js/animated.headline.js") }}"></script>
		<script src="{{ asset("js/jquery.magnific-popup.js") }}"></script>

		<!-- Scrollup, nice-select, sticky -->
		<script src="{{ asset("js/jquery.scrollUp.min.js") }}"></script>
		<script src="{{ asset("js/jquery.nice-select.min.js") }}"></script>
		<script src="{{ asset("js/jquery.sticky.js") }}"></script>
        
        <!-- contact js -->
		<script src="{{ asset("js/contact.js") }}"></script>
		<script src="{{ asset("js/jquery.form.js") }}"></script>
		<script src="{{ asset("js/jquery.validate.min.js") }}"></script>
		<script src="{{ asset("js/mail-script.js") }}"></script>
		<script src="{{ asset("js/jquery.ajaxchimp.min.js") }}"></script>
        
		<!-- Jquery Plugins, main Jquery -->
		<script src="{{ asset("js/plugins.js") }}"></script>
		<script src="{{ asset("js/main.js") }}"></script>

		{% endblock %}
	</body>
</html>
