    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <strong>Hotel</b>
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <header>
        <!-- Header Start -->
       <div class="header-area header-sticky">
            <div class="main-header ">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                               <a href="index.html"><img src="img/logo/logo1.png" alt=""></a>
                            </div>
                        </div>
                    <div class="col-xl-8 col-lg-8">
                            <!-- main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">                                                                                                                                     
                                        <li><a href="{{ path('inicio') }}">Principal</a></li>

                                        {% if app.user %}
                                            <li><a href="#">Mantenimientos</a>
                                                <ul class="submenu">
                                                    <li><a href="{{ path("cliente_index") }}">Clientes</a></li>
                                                    <li><a href="{{ path("habitacion_index") }}">Habitaciones</a></li>
                                                    <li><a href="{{ path("tipo_index") }}">Tipos de habitaciones</a></li>
                                                    <li><a href="{{ path("noticia_index") }}">Noticias</a></li>
                                                    <li><a href="{{ path("categoria_index") }}">Categorías</a></li>
                                                </ul>
                                            </li>
                                        {% endif %}

                                        <li><a href="{{ path("servicios_index") }}">Servicios</a></li>
                                        <li><a href="#">Reservas</a>
                                            <ul class="submenu">
                                                <li><a href="{{ path("reserva_index") }}">Mi reserva</a>
                                                <li><a href="elements.html">Gestionar algo</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{{ path('actualidad') }}">Actualidad</a></li>
                                        <li><a href="#">Mi cuenta</a>
                                            <ul class="submenu">
                                                {% if app.user %}
                                                <li> {{ app.user.username }}</li>
                                                {% endif %}
                                                {% if not app.user %}
                                                <li><a href="{{ path('app_login')}}">Inicia sesión</a>
                                                {% endif %}
                                                {% if not app.user %}
                                                <li><a href="{{ path('app_register')}}">Registrate</a></li>
                                                {% endif %}
                                                {% if app.user %}
                                                <li><a href="{{ path('app_logout') }}">Cerrar Sesión</a></li>
                                                {% endif %}
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>             
                        <div class="col-xl-2 col-lg-2">
                            <!-- header-btn -->
                            <div class="header-btn">
                                <a href="#identificador" class="btn btn1 d-none d-lg-block ">Reserva ahora</a>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
        <!-- Header End -->
    </header>